<div class="wrapper">
    <span class="label">Bank Details</span>
    <div *ngIf="(bankList$ | async) as bankDetails">
      <div class="list">
        <div class="flex-container">
          <div class="question-text">
            <div>Bank ID:{{bankDetails.bank_id}}</div>
            <div>Bank Name: {{bankDetails.bank_id}}</div>
            <div>Bank IFSC: {{bankDetails.ifsc}}</div>
            <div>Bank Branch: {{bankDetails.branch}}</div>
            <div>Bank Address: {{bankDetails.address}}</div>
            <div>Bank City: {{bankDetails.city}}</div>
            <div>Bank District: {{bankDetails.district}}</div>
            <div>Bank State: {{bankDetails.state}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="noData" class="no-data">No Data Found</div>
  </div>